body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root{
  padding: 0%;
}
#title{
  color: #eedede;
 
}

p{
  font-family: 'Lemonada';
  font-size: 12px;
  margin: 0cm;
}
.card{
  max-width: 300px;
  font-family: 'Lemonada';
}



